.dictionary {
  display: flex;
  height: calc(100vh - 230px);
  min-height: 300px;
  padding-top: 24px;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: coral;
  color: white;
  font-size: 30px;
}
.dictionary__lists {
  display: flex;
  padding: 4px 8px;
  margin-bottom: 24px;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 4px;
  row-gap: 14px;
  list-style-type: none;
}
.dictionary__words{
  margin: 0 80px;
}
.dictionary__list{
  // width: 145px;
}
