$color-primary: #ffc;
$color-primary-background: #1f9da5;
$color-error: #e73f3f;
$color-is-validate: #6be73f;
$color-button-bcg-modal: #fff;
$color-button-bcg: #e5e5e5;

$color-background-group-1: #e3e73f;
$color-background-group-2: #e7ae3f;
$color-background-group-3: #6be73f;
$color-background-group-4: #3fe7aa;
$color-background-group-5: #3f78e7;
$color-background-group-6: #c53fe7;
$color-background-group-7: #e73f3f;
