footer {
  background-color: var(--bg-dark-color);
}

.footer-text{
  font-size: 18px;
  line-height: 21.88px;
}
.footer{
  padding: 35px 0 24px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
}
.footer-heading{
  padding-bottom: 22px;
  text-align: center;
}
.navigation-list{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-column-gap: 45px;
}
.navigation-list{
  li{
    padding-bottom: 5px;
  }
}
.developers-list{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 72px;
  justify-content: center;
}
.footer-link{
  height: 23px;
  background: left/ contain no-repeat url("../assets/icons/bi_github.svg");
  padding-left: 30px;
  text-decoration: none;
}
.footer__p{
  display: block;
  height: 46px;
  border-top: 1px solid #c4c4c4;
  text-align: center;
  padding: 15px 0;
  line-height: 21.88px;
}